<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{fragments/config :: head}"></head>

<body>

<nav th:replace="~{fragments/nav :: nav}"></nav>

<!--<header th:replace="~{fragments/header :: header}"></header>-->
<header layout:fragment="header"></header>

<div layout:fragment="content"></div>

<footer th:replace="~{fragments/footer :: footerFragment}"></footer>

<th:block th:replace="~{fragments/script :: script}"></th:block>
<th:block layout:fragment="myScript"></th:block>
</body>
</html>