<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default.html}">

<head>

    <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor.css"></link>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor-contents.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css"></link>
    <!-- Scripts -->
    <script src="https://uicdn.toast.com/tui-editor/latest/tui-editor-Editor-full.js"></script>
</head>

<th:block layout:fragment="header">
    <th:block th:replace="~{fragments/header :: header}"></th:block>
</th:block>

<th:block layout:fragment="content">
    <div class="container">
        <form action="/posts" id="form" method="post" th:object="${postRequestDto}">
            <div class="form-group">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="text"  th:field="*{title}" class="form-control" placeholder="Title">
                <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-danger" role="alert"></div>
            </div>

            <div class="form-group">
                <div id="content" name="content"></div>
            </div>

            <div id="tagBox" class="form-group">
                <div id="selectedTags" class="form-group"></div>

                <div class="input-group mb-3">
                    <input id="tagSearch" name="tagSearch" type="text" class="form-control" placeholder="Tag name..." aria-label="Tag name.." aria-describedby="tagSave">
                    <div class="input-group-append">
                        <button id="saveTag" class="btn btn-outline-secondary" type="button" >Tag Add</button>
                    </div>
                </div>
                <div id="tags" class="form-group"></div>
                <div id="alert" class="alert alert-danger fade" role="alert"></div>
            </div>

            <div th:if="${#fields.hasErrors('tagIds')}" th:errors="*{tagIds}" class="alert alert-danger" role="alert"></div>
            <div class="form-group">
                <button type="button" id="save" class="btn btn-outline-primary">Save</button>
            </div>
        </form>
    </div>
    <hr>
</th:block>

<th:block layout:fragment="myScript">
    <script src="/js/tag.js"></script>
    <script>
        var timer;

        window.addEventListener('load', function(){
            var editor = new tui.Editor({
                el: document.querySelector('#content'),
                previewStyle: 'vertical',
                height: '300px',
                initialEditType: 'markdown',
                 hooks: {
                    'addImageBlobHook': function(blob, callback) {
                        let formData = new FormData();
                        formData.append('upload', blob);

                        axios.post('/files', formData, {
                            'headers' : {
                                'X-CSRF-TOKEN' : document.querySelector('input[name=_csrf]').value,
                                'contentType' : 'multipart/form-data'
                            }
                        })
                        .then((res) => {
                            console.dir(res);
                            callback(res.data.uri);
                        })
                        .catch((err) => {
                            console.dir(err);
                        });

                        console.dir(blob);
                        console.dir(callback);
                    }
                }
             });


            document.querySelector('#tagSearch').addEventListener('input', function(){
                if ( timer ) {
                    clearTimeout(timer);
                }

                let value = this.value;
                if ( value === '') {
                    clearChild('#tags');
                    return;
                }
                
                timer = setTimeout(function() {
                    axios.get('/api/v1/tags?q=' + value)
                        .then(({data : res}) => {
                            $tag.render(res);
                        })
                        .catch((err) => {
                            console.error(err);
                        });
                }, 400);
            });

            document.querySelector('#save').onclick = function(){
                $tag._tagIds.forEach((e) => {
                    let tagId = document.createElement('input');
                    tagId.type = 'hidden';
                    tagId.name = 'tagIds';
                    tagId.value = e;
                    this.form.appendChild(tagId);
                });

                this.form.submit();
            }

            document.querySelector('#saveTag').addEventListener('click', function(){
                let name = document.querySelector('#tagSearch').value;
                if ( name === '') {
                    return;
                }

                axios.post('/api/v1/tags', {name}, {
                    headers : {
                        'X-CSRF-TOKEN' : document.querySelector('input[name=_csrf]').value,
                        'contentType' : 'application/json'
                    }
                })
                .then((res) => {
                    document.querySelector('.alert').classList.add('fade');
                    $tag.addTag(name, res.data.id);
                })
                .catch((err) => {
                    let errorAlert = document.querySelector('.alert');
                    errorAlert.textContent = err.response.data.message;
                    errorAlert.classList.remove('fade');
                });
            });
        });

        function clearChild(selector){
            let tag = document.querySelector(selector);
            if ( tag.hasChildNodes()) {
                tag.childNodes.forEach((node) => {
                    node.remove();
                });
            }
        }
    </script>
</th:block>