<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default.html}">

<head>
    <title th:text="Right blog"></title>
</head>

<th:block layout:fragment="header">
    <th:block th:replace="~{fragments/header :: header}"></th:block>
</th:block>

<th:block layout:fragment="content">
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                <div class="post-preview" th:each="post : ${posts.content}">
                    <a th:href="@{/post/{id}(id=${post.id})}">
                        <h2 class="post-title" th:text="${post.title}"></h2>
                    </a>

                    <p class="post-meta">Posted by<span th:text="${post.createdDate}"></span></p>
                    <hr>
                </div>

                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
</th:block>